<article id="banner-home">
    <%= image_tag "home.png", class: "logo-img" %>
</article>

<section id="home">
    
    <section id="overview">
        <h5 style="color: #b4b4b4;">Overview</h5>
        <div id="links">
            <%= link_to products_path, class: "card__title" do%>
                <div class="pages">
                    <i class="fa fa-bandcamp" style="color:#202020;"></i>
                    <h5>
                        Productos
                    </h5>

                </div>
            <% end %>

            <%= link_to categories_path, class: "card__title" do%>
                <div class="pages" style="background-color: rgb(0, 153, 255);">
                    <i class="fa fa-bandcamp" style="background-color: rgb(127, 225, 255); color:#202020;"></i>
                    <h5>
                        Categorias
                    </h5>

                </div>
            <% end %>
            <div class="pages" style="background-color: rgb(255, 0, 140);">
                <i class="fa fa-bandcamp" style="background-color: rgb(255, 127, 206);"></i>
                <h5>
                    <!-- <%= link_to "Productos", products_path, class: "card__title" %> -->
                    <a href="#">Banners</a>
                </h5>

            </div>
        </div>
    </section>

    <article id="graficas">
        <div class="container" style="max-width: 333px;">
            <div class="card shadow-sm mx-auto" style="max-width: 333px;">
                <div class="card-body">
                    <canvas id="graficoBarras" height="320"></canvas>
                </div>
            </div>
        </div>

        <div class="container py-5">
            <div class="card-custom">
                <div class="chart-container">
                    <canvas id="donutChart"></canvas>
                    <div class="chart-center-text">94,304</div>
                </div>
                <div class="legend-circle">
                    <span><span class="dot" style="background:#6f42c1;"></span> Bases</span>
                    <span><span class="dot" style="background:#d63384;"></span> Labial</span>
                    <span><span class="dot" style="background:#000;"></span> Pestañina</span>
                </div>
            </div>
        </div>
    </article>

</section>