<h2>Nuevo mensaje de soporte recibido</h2>

<%= @message.order.user.nombre %> <%= @message.order.user.last_name %>
<p><strong>Email:</strong> <%= @message.order.correo_cliente %></p>
<p><strong>Asunto:</strong> duda </p>

<p><strong>Mensaje:</strong></p>
<p><%= @message.message_text %></p>