<div class="card" style="width: 18rem;">
  <% if category.imagen.attached? %>
      <%= image_tag category.imagen, class: "card-img-top"%>
    <% else %>
    <p>Sin imagen</p>
  <% end %>
  <div class="card-body">
    <p class="card-text">
    <%= category.nombre_categoria%>.
    <%= link_to "Ver Categoria",  category %>
    </p>
  </div>
</div>