<div id="categ" class="card" style="width: 18rem; border:solid 1px #eee;">
  <% if category.imagen.attached? %>
    <%= image_tag category.imagen, class: "card-img-top"%>
  <% else %>
    <p>Sin imagen</p>
  <% end %>
  <div class="card-body text-center">
    <h5 class="card-title"><%= category.nombre_categoria %></h5>
    <p class="card-text">
      Productos: <%= category.products.count %> <br>
    </p>
    <%= link_to "Ver Categoría", category, class: "btn btn-outline-primary" %>
  </div>
</div>