<ul class="ubi">
    <%= link_to "Home", home_path %> / 
    <%= link_to "Categorias", categories_path %> /
    <%= link_to "Nueva", new_category_path, class: "ubi-active" %>
</ul>

<div>
    <h1>Nueva Categoria</h1>
    <%= render "form", category: @category%>
</div>