<DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
   
    <div class="container7">
      <h1 class="titulo">ACERCA DE</h1>
      <div class="imagen-cont">
      <%= image_tag "ale_logo.jpg", alt: "Logo Ale beauty", class: "img-fluid" %>
      </div>
      <p class="texto10">
      <h2 class="sub-titulo">Sobre Nosotros:</h2>
      <div class="bloque-texto">
       <div class="info">
          <p >Bienvenid@s a <strong><Span style="color:rgb(248, 100, 125);">Ale Beauty Art</Span></strong>
          </p>
          <p>Somos una tienda online dedicada a ofrecer una amplia variedad de productos cosméticos de alta calidad, diseñados para ofrecer un servicio de alta calidad y un precio justo en todo el mundo.<strong><Span style="color:rgb(248, 100, 125);"> Nuestra </Span></strong> atención es en la mejor calidad, la mejor experiencia y la más rápida entrega.
          <br>
          <strong><Span style="color:rgb(248, 100, 125);">Ale Beauty Art</Span></strong> nació como un sueño de <strong><Span style="color:rgb(248, 100, 125);"> Jesús Alemán </Span></strong>, un apasionado por la belleza y el cuidado personal, quien decidió emprender en el mundo de los cosméticos con un enfoque en calidad, inclusividad y precios accesibles.
          <strong><Span style="color:rgb(248, 100, 125);">Comenzamos </Span></strong> como un pequeño emprendimiento con un punto físico, pero gracias al apoyo de nuestros clientes, hoy nuestra principal vitrina es esta tienda web, diseñada para facilitar los pedidos y llegar a más personas.
          <strong><Span style="color:rgb(248, 100, 125);"> Llevamos </Span></strong> apenas 2años en el mercado, pero con mucha dedicación y amor por lo que hacemos, ¡y queremos seguir creciendo contigo!
          </p>

          <h2 class="sub_titulos">Nuestra Visión:</h2>
            <p><strong><Span style="color:rgb(248, 100, 125);"> Nuestra </Span></strong> visión es crear una experiencia de compra que sea agradable, rápida y segura, para que nuestros clientes puedan disfrutar de nuestros productos de manera efectiva y satisfactoria.<strong><Span style="color:rgb(248, 100, 125);"> Nuestra </Span></strong> visión es crear una experiencia de compra que sea agradable, rápida y segura, para que nuestros clientes puedan disfrutar de nuestros productos de manera efectiva y satisfactoria.
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">En Ale Beauty Art</Span></strong>, creemos que la belleza debe ser:
            <br>
            ✅ <strong><Span style="color:rgb(248, 100, 125);">Inclusiva – </Span></strong>Productos  para todo tipo de pieles y tonos. <br>
            ✅ <strong><Span style="color:rgb(248, 100, 125);">Cruelty-Free –  </Span></strong>¡Nada de testeo en animales!<br>
            ✅ <strong><Span style="color:rgb(248, 100, 125);">Accesible – </Span></strong>Precios  justos sin sacrificar calidad.<br>
            ✅ <strong><Span style="color:rgb(248, 100, 125);">Personalizada </Span></strong> – Te asesoramos para que encuentres lo mejor para ti.<br>
            </p>
          
          <h2 class="sub_titulos">Nuestro Plan:</h2>
            <p><strong><Span style="color:rgb(248, 100, 125);"> Nuestro </Span></strong> plan es enfocado en la mejor experiencia de compra, con una amplia variedad de productos cosméticos de alta calidad, diseñados para ofrecer un servicio de alta calidad y un precio justo en todo el mundo.<strong><Span style="color:rgb(248, 100, 125);"> Nuestra </Span></strong> atención es en la mejor calidad, la mejor experiencia y la más rápida entrega.
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Nuestro </Span></strong> objetivo es ofrecer una experiencia de compra que sea agradable, rápida y segura, para que nuestros clientes puedan disfrutar de nuestros productos de manera efectiva y satisfactoria.
            <br>
           <h2 class="sub_titulos"> <strong><Span style="color:rgb(248, 100, 125);">¿Qué Ofrecemos? </Span></strong></h2>
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Maquillaje </Span></strong> profesional (bases, labiales, sombras, iluminadores)
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Cuidado de la piel </Span></strong> (serums, cremas, limpiadores faciales)
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Cuidado capilar </Span></strong> (shampoos, acondicionadores, mascarillas)
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Kits de regalo </Span></strong> – Perfectos para sorprender a alguien especial.
            <br>
             <h2 class="sub_titulos"> <strong><Span style="color:rgb(248, 100, 125);">Síguenos en Redes Sociales </Span></strong></h2>
            ¡Conéctate con nosotros para promociones, tips de belleza y novedades!
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Instagram: </Span></strong> @ale.beautyart
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Facebook: </Span></strong> @ale.beautyart
            <br>
            <strong><Span style="color:rgb(248, 100, 125);">Whatsapp </Span></strong> +57 301 70 20 60
            </p>
        </div>  
      </div>
    </div>
  </body>