<div id="pasos">
  <div class="stepper-step stepper-active">
    <div class="stepper-circle">
        1
    </div>
    <div class="stepper-line"></div>
    <div class="stepper-content">
    </div>
  </div>

  <div class="stepper-step stepper-pending">
    <div class="stepper-circle">2</div>
    <div class="stepper-line"></div>
  </div>

  <div class="stepper-step stepper-pending">
    <div class="stepper-circle">3</div>
  </div>
</div>


<div>
    <%= render "form", category: @shipping_address%>
</div>