<html>
    <head>
      <script src="https://sdk.mercadopago.com/js/v2"></script>
    </head>
    <body>
      <div id="cardPaymentBrick_container"></div>
      <script>
        const mp = new MercadoPago('<%= ENV["MERCADOPAGO_PUBLIC_KEY"] %>', {
          locale: 'es-CO'
        });
        const bricksBuilder = mp.bricks();
        const renderCardPaymentBrick = async (bricksBuilder) => {
          const settings = {
            initialization: {
              amount: 10000, // monto a ser pago
              payer: {
                email: "",
              },
            },
            customization: {
              visual: {
                style: {
                  theme: 'bootstrap', // | 'dark' | 'bootstrap' | 'flat'
                  customVariables: {
                  },
                },
              },
              paymentMethods: {
                maxInstallments: 1,
              },
            },
            callbacks: {
              onReady: () => {
                // callback llamado cuando Brick esté listo
              },
              onSubmit: (cardFormData) => {
                //  callback llamado cuando el usuario haga clic en el botón enviar los datos
                //  ejemplo de envío de los datos recolectados por el Brick a su servidor
                return new Promise((resolve, reject) => {
                  fetch("/payments", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                      "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content
                    },
                    body: JSON.stringify(cardFormData)
                  })
                    .then((response) => {
                      const order_id = localStorage.getItem("current_order_id");
                      resolve();
                      window.location.href = "/pago_realizado/" + order_id;

                    })
                    .catch((error) => {
                      // tratar respuesta de error al intentar crear el pago
                      console.error("Error al procesar el pago:", error);
                      alert("Hubo un error al procesar el pago");
                      reject();
                    })
                });
              },
              onError: (error) => {
                // callback llamado para todos los casos de error de Brick
                console.error("Error en el formulario:", error)
              },
            },
          };
          window.cardPaymentBrickController = await bricksBuilder.create('cardPayment', 'cardPaymentBrick_container', settings);
        };
        renderCardPaymentBrick(bricksBuilder);
      </script>
      <script>
        localStorage.setItem("current_order_id", "<%= session[:order_id] %>");
      </script>
  
    </body>
</html>