<header class="navbar">
      <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <div class="logo">
          <%= image_tag "ale_logo.jpg" %>
        </div>
        <nav>
            <a href="#">INICIO</a>
            <a href="#">PRODUCTOS</a>
            <a href="#">ACERCA DE</a>
            <a href="#">CONTACTO</a>
        </nav>
        <div class="search">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="user-options">
          <span class="profile">👤</span>
          <a href="#" class="logout-link">Cerrar Sesión</a>
        </div>
        <div class="cart">🛒</div>
      </header>
      <section><!-- Menú desplegable oculto -->
        <div id="dropdown-menu" class="dropdown-menu">
            <a href="#">Mis Compras</a>
            <a href="#">Favoritos</a>
            <a href="#">Ajustes</a>
        </div> 