body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}

.bannerProducts-loading {
  width: 75%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: #2c2c2c;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
}

.banner-info{
  width: 699px;
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
  border-radius: 10px;
  width: 75%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  background: #2c2c2c; /* negro base */
  margin: 0 auto;
}

/* --- Zona morada con curva --- */
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  min-width: 600px;
  width: 100%;
  height: 100%;
  background: #df6897ff;
  clip-path: path("M0,0 C1000,0 300,150 1000,400 L0,400 Z");
  z-index: 1;
}

/* Contenido del texto */
.content {
  position: relative;
  z-index: 2;
  padding-left: 60px;
  max-width: 45%;
}

.content h1 {
  font-size: 45px;
  margin: 0;
  font-weight: 700;
}

.content h2 {
  font-size: 22px;
  /* margin-top: 10px; */
  color: #5a1451;
  text-align: start;
}

.content p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

/* Botón */
.btn-banner {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #df6897ff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-banner:hover {
  background-color: #e3e3e3;
}

/* Imagen circular */
.image-area {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.circle-image {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #fff;
  border: 4px solid #6c757d;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  color:#ffffff;
  background:
   radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
   radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
   linear-gradient(to bottom left, currentColor 42%,#0000 43%) bottom left ,
   linear-gradient(to bottom right,currentColor 42%,#0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l3 1s infinite;
}
@keyframes l3 {
  to {transform:scale(1.8);opacity:0}
}

/* vista portatil */
/* @media (max-width: 1370px) {
  .bannerProducts {
    flex-direction: row;
    height: fit-content;
  }

  .bannerProduct-image-container {
    width: 100%;
    border-radius: 0;
  }

  .section-DataBanner{
    justify-content: end;
  }
  .banner-description{
    max-height: 180px;
    overflow-y: auto;
    scrollbar-color: #fff #df6897;
  }
  .banner-info{
    width: 90%;
  }
} */


/* vista portatil */
/* @media (max-width: 1200px) {
  .bannerProducts {
    flex-direction: column;
    height: fit-content;
  }

  .bannerProduct-image-container {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .banner-title {
    font-size: 50px;
  }

  .section-DataBanner{
    justify-content: end;
  }
  .banner-description{
    max-height: 200px;
    overflow-y: auto;
  }
  .banner-info{
    width: 90%;
  }
} */


/* vista movil */
/* @media (max-width: 700px) {
  .bannerProducts {
    flex-direction: column;
    height: fit-content;
  }

  .bannerProduct-image-container {
    width: 100%;
    border-radius: 0;
  }

  .section-DataBanner{
    justify-content: center;
  }
  .banner-description{
    max-height: 200px;
    overflow-y: auto;
  }
  .banner-info{
    width: 90%;
  }
} */
