.css-1vqcoc2-MuiPaper-root{
    width: 103%;
    height: 100vh;
    border-radius: 0px;
}

.css-28vtkn-MuiStack-root{
    padding-bottom: 0px !important;
}

/* textos */

*:where([data-mui-color-scheme="dark"]) .css-1tajscv-MuiButtonBase-root-MuiButton-root {
    color: black;
}


/* filtro */
.css-1a0briq-MuiTypography-root{
    color: black;
}

/* texto de productos */
.css-ct6lv7-MuiTableCell-root{
    color: black !important;
}

.css-1ovrlbc-MuiTableCell-root{
    color: black !important;
}

.css-1ymva7q-MuiTableCell-root{
    color: black !important;
}

.css-92x73r-MuiTableCell-root{
    color: black !important;
}

.css-qug5bm-MuiTableCell-root{
    color: black !important;
}

.css-dx67ao-MuiTableCell-root{
    color: black !important;
}

.css-1xaphdy-MuiTableCell-root{
    color: black !important;
}

.css-g8juw4-MuiTableCell-root{
    color: black !important;
}

.css-f6c1zj-MuiTableCell-root{
    color: black !important;
}

.css-5u8p3e-MuiTableCell-root{
    color: black !important;
}

.css-cjyve7-MuiTableCell-root{
    color: black !important;
}

.css-17lxmsd-MuiTableCell-root{
    color: black !important;
}

.css-12lzg3d-MuiTableCell-root{
    color: black !important;
}

.css-fplgs6-MuiTableCell-root{
    color: black !important;
}

.css-edy0ab-MuiTableCell-root{
    color: black !important;
}

.css-1bh0s7-MuiTableCell-root{
    color: black !important;
}

.css-1qnu8uw-MuiTableCell-root{
    color: black !important;
}

.css-xecwrg-MuiTableCell-root{
    color: black !important;
}

.css-d0qe93-MuiTableCell-root{
    color: black !important;
}

.css-1gbjhsr-MuiTableContainer-root{
    height: 88dvh;
}

.css-1tkgw9o-MuiTableCell-root{
    color: black !important;
}

.css-4for0r-MuiTableCell-root{
    color: black !important;
}


.css-1v6b398{
    color: black;
}

.css-bbxzxe{
    color: black;
}