
.wave-wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.wave-svg {
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
}



/* Fondo con degradado oscuro */
.login-bg {
    min-height: 100vh;
    /* background-color: #1e1e20; */
    background: linear-gradient(135deg, #7f9cf5, #d6bcfa, #90cdf4);
    padding: 20px;
    }

.login-bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 30% 30%, #a3bffa 0%, transparent 70%),
              radial-gradient(circle at 70% 70%, #fbb6ce 0%, transparent 70%);
  filter: blur(100px);
  z-index: 0;
}

/* Card central con efecto blur */
.login-card {
    background-color: #fff;
    max-width: 420px;
    width: 100%;
    border-radius: 1.5rem;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: white;
    z-index: 1;
}

.rosa{
    color: #fab1d9;
}

.rosa-fondo{
    background-color: #fab1d9;
}

.rosa-fondo:hover{
    background-color: #f597cb;
}

/* Inputs oscuros */
.login-input {
    width: 100%;
    background-color: #f5f5f5 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: rgb(43, 43, 43) !important;
    border-radius: 0.75rem;
    padding: 0.8rem;
    height: 38px;
}


.login-input:focus{
  border-color: #f597cb !important;
  outline: none;
}

.login-input::placeholder {
  color: #c4c4c4 !important;

}

/* Botón principal */
.login-btn {
  border-radius: 2rem;
  font-weight: 600;
  padding: 0.8rem;
}

/* Botones alternativos */
.login-alt-btn {
  border-radius: 0.75rem;
  padding: 0.8rem;
  color: white;
  background-color: #111 !important;
  transition: background 0.2s;
}

.login-alt-btn:hover {
  background-color: #222 !important;
}
