.negrita {
  font-weight: bold;
  margin-bottom: 0px;
  color: #ccc;
}

.datails-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.description-section{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.description-section button{
  background-color: transparent;
  border-radius: 0 !important;
  color: #ccc;
  /* color: #f896b8; */
}

.description-section button :hover{
  background-color: #eee !important;

}

.title-category{
  gap: 0;
}

.product-details-page {
  padding: 2rem;
}

/* Layout responsivo */
.product-container {
  display: flex;
  flex-direction: column; /* por defecto: columnas en móvil */
  gap: 2rem;
  align-items: center;
  margin-bottom: 60px;
}

.product-image img {
  width: 100%;
  max-width: 450px;
  max-height: 400px;
  object-fit: contain; /* 🔑 nunca se corta */
  border-radius: 12px;
}

/* Texto y botones */
.product-info {
    height: 53vh;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
}

.product-info h2 {
  display: flex;
  align-items: start;
  font-size: 2.5rem;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #f896b8;
}

.stock {
  font-weight: bold;
  color: #2a9d8f;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
  align-items: center;
  justify-content: end;
  border-top: solid 1px #eee;
  padding-top: 10px;
}

#favBtn {
  background-color: #f896b8;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#favBtn:hover {
  background-color: #f35471;
}

.actions button {
  background-color: #f896b8;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.actions button:hover {
  background-color: #f35471;
}

/* --- 📺 Pantallas grandes --- */
@media (min-width: 992px) {
  .product-container {
    flex-direction: row; /* imagen izquierda, texto derecha */
    align-items: flex-start;
    justify-content: center;
  }

  .product-image {
    flex: 1;
    text-align: center;
  }

  .product-info {
    flex: 1;
  }
}


.related-products {
  margin-top: 2rem;
}
.related-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.related-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
}
.related-card:hover {
  transform: scale(1.05);
}

@media (max-width: 560px) {
  .datails-section {
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }
  .description-section {
    width: 100%;
  }
  .product-info {
    flex: 1;
  }
}