

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wave-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wave-svg {
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
}



body {
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #7f9cf5, #d6bcfa, #90cdf4);
}

body::before {
  content: '';
  position: absolute;
  width: 130%;
  height: 130%;
  background: radial-gradient(circle at 30% 30%, #a3bffa 0%, transparent 70%),
              radial-gradient(circle at 70% 70%, #fbb6ce 0%, transparent 70%);
  filter: blur(100px);
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.img_logo {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.field {
  margin-bottom: 15px;
  text-align: left;
}

.msP{
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #8a7b87;
}

.field label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #685965;
}

.field input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.field input:focus{
  border-color: #c39acd;
}

.boton input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #e4a7ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.opcionesP {
  /* margin-left: 15px; */
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.opcionesP a:hover {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #c39acd;
  font-weight: 500;
}

