.container_perfil {
  margin: auto;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 2.5rem;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  gap: 30px;
}

.container_perfil img {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.titulo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.titulo_perfil {
  display: flex;
  justify-self: center;
  align-self: center;
  color: #2c3e50;
  font-size: 2.0rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-align: center;
}

#informacion{
  display: flex;
  margin-top: 20px;
}

.campos {
  font-size: 1.1rem;
  margin: 1rem 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.campos strong {
  color: #1a1a1a;
  width: 120px;
  flex-shrink: 0;
}

.buton {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background: linear-gradient(90deg, #f76da4, #fff653);
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 2rem;
  box-shadow: 0 4px 14px rgba(237, 114, 165, 0.4);
  transition: background 0.3s ease, transform 0.2s ease;
}

.buton:hover {
  background: linear-gradient(90deg, #fc5da2, #f5eb29);
  transform: scale(1.02);
}

/* Responsive */
@media (max-width: 770px) {
  .container_perfil {
    padding: 1.5rem;
    flex-direction: column;
  }

  .container_perfil img {
    justify-self: center;
    align-self: center;
  }

  .titulo_perfil {
    font-size: 1.7rem;
    text-align: center;
  }

  .campos {
    flex-direction: column;
    align-items: flex-start;
  }

  .campos strong {
    margin-bottom: 0.3rem;
  }

  .buton {
    font-size: 1rem;
  }
}


/* Responsive para tablets */
@media (max-width: 992px) {
  .container_perfil {
    padding: 2rem;
  }

  .titulo_perfil {
    font-size: 1.75rem;
    text-align: center;
  }

  .campos {
    font-size: 1rem;
  }

  strong {
    width: 100px;
  }
}

/* Responsive para móviles */
@media (max-width: 600px) {
  .container_perfil {
    margin: 1rem;
    padding: 1.5rem;
  }

  .titulo_perfil {
    font-size: 1.5rem;
    text-align: center;
  }

  .campos {
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
  }

  strong {
    width: auto;
    margin-bottom: 0.3rem;
  }

  .buton {
    width: 100%;
    padding: 0.8rem;
  }
}
