<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "Pcategoria", media: "all", "data-turbo-track": "reload" %>
  <title>Categorías</title>
</head>
<body>

<h1>Categorías disponibles</h1>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= link_to categoria_publica_path(category) do %>
          <% if category.imagen.attached? %>
            <%= image_tag category.imagen, class: "card-img-top", alt: category.nombre_categoria %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= category.nombre_categoria %></h5>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>