/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body{
    border: solid 2px black;  
}
header{
    border: solid 2px black;  
    height: 70px;
    display: flex;
    justify-content: end;
    background-color: violet;
}
nav{
    border: solid 2px black;  
    height: 50px;
    background-color: wheat;
}
#id1{
    border: solid 2px black;  
    height: 600px;
    width: 1330px;;
}
aside{
    border: solid 2px rgb(197, 34, 6);  
    height: 600px;
    width: 280px;
    float: left;
    background-color: wheat;
    display: block;
}
#id2{
    border: solid 2px rgb(5, 255, 88);  
    height: 600px;
    width: 1040px;
    float: inline-end;
}
footer{
    border: solid 2px black;  
    height: 70px;
    align-content: center;
    background-color: violet;
    
}
.logout-link {
    color: rgb(68, 0, 255);
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
}
.logout-link:hover {
    text-decoration: underline;
}
