#ti{
    margin-left: 130px;
    margin-top: 50px;
    font-size: 40px;
}

pre{
    background-color: #eee;
    margin-left: 130px;
    width: 800px;
    border-radius: 5px;
}

p{
    margin-left: 130px;
}

h4{
    margin-left: 130px;
}

.txs{
    height: 478px;
    overflow-y: scroll
}

ul{
    width: 170px;
    height: fit-content;
    display: flex;
    background-color: #fff6f6;
    position: fixed;
    top: 60px;
    right: 1.5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
}

a{
    margin-left: 0;
}