

#copy{
    margin: 20px;
    margin-left: 50px;
}

.rubik-park-fuente {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

#tema{
    width: 33px;
    padding: 5px;
    display: flex;
    margin-right: 10px;
}

#contenido-dinamico{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 99.8vh;
    border-right: solid 1px #e2dede;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow-y: auto;
    scrollbar-color: rgb(201, 194, 194) rgb(255, 255, 255);
}

/* aside{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 99.99vh;
    background-color: #ffffff;
    border: solid 2px #ebeaef;
} */

/* ---------inicio carpetas---------- */

a {
  color: #111;
  text-decoration: none;
}

link {
  margin-left: 0;
}

.content button {
  width: 90%;
  background: none;
  border: none;
  text-align: left;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  display: flex;
}

.content button:hover {
  background-color: #eee;
}

.toggle-btn {
  width: 100%;
  margin-left: 0;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  text-align: left;
  cursor: pointer;

}

.content {
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  background-color: #ffffff;
  transition: max-height 0.4s ease;
}

.content.open {
  max-height: 300px;
}


.btn-recargar {
  width: 95%;
  background: none;
  border: none;
  text-align: left;
  padding: 8px 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.btn-recargar:hover {
  background-color: #eee;
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;

}

.content ul li {
  margin: 5px 0;

}

.content a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

.content a:hover {
  text-decoration: underline;
}

.btn-recargar.active {
  background-color: #ffebf5;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.btn-recargar.active :hover {
  background-color: #ffebf5;
  color: rgb(0, 0, 0);

}

.fa-folder-open {
  color: #fabad9;
}


.menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.menu-btn .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* aside */

#links {
  display: flex;
  flex-flow: wrap row;
  padding: 10px;
  gap: 20px;
}

#links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#lnks a {
  color: #111;
  text-decoration: none;
}


/* --------fin-------- */

#logo {
  border-bottom: solid 2px #ebeaef;
  height: 60px;
  gap: 10px;
}

#logo img {
  width: 40px;
  border-radius: 50%;
}


#contenido{
    position: absolute;
    top: 0;
    left: 260px;
    width: calc(100% - 260px);
    height: calc(100% - 2px);
    /* border: solid 1px #000; */
    overflow-y: scroll;
    scrollbar-color: rgb(201, 194, 194) rgb(255, 255, 255);
}

nav{
    width: calc(100% - 1px);
    height: 55px;
    /* border: solid 1px #000; */
    background-color: #f0c1c1;
    display: flex;
    justify-content: end;
    align-items: center;
}

button{
    text-align: start;
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
    margin-bottom: 2px;
    font-size: 16px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: #f7e4e4;
    color: #797878;
    transition: all 0.3s ease;
    cursor: pointer;
}


.active {
    background-color: #ffebf5;
    color: #202020;
    font-weight: bold;
}

.burger{
    display: none;
}

@media screen and (max-width: 600px) {
    
        
}




    /* Fondo del pop-up */
    .popup {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.8);
      justify-content: center;
      align-items: center;
    }

    /* Imagen dentro del pop-up */
    .popup img {
      max-width: 90%;
      max-height: 90%;
    }

    /* Botón para cerrar */
    .popup span {
      position: absolute;
      top: 20px;
      right: 30px;
      color: white;
      font-size: 40px;
      cursor: pointer;
    }



/* From Uiverse.io by barisdogansutcu */ 
svg {
 width: 3.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

circle {
 fill: none;
 stroke: hsl(214, 97%, 59%);
 stroke-width: 2;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}
