.national-park-fuente {
    font-family: "National Park", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
body{
  background-color: #fffcfd;
}


aside select{
  width: 100%;
  height: 40px;
  color: #5c1a3b;
  background-color: #f3e0e7;
}

/* ------------------- */

.custom-select {
	position: relative;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	background-color: #F3E0E7;
	border: 1px solid #EBAEE3;
	border-radius: 0px;
	color: #000000;
	cursor: pointer;
	outline: none;
}

.custom-select select:focus {
	background: #F3E0E7;
	border: 1px solid #F3E0E7;
	border-radius: 0px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 15px;
	height: 15px;
	background-color: #000000;
	clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}



/* --------------------- */
nav{
  /* border: solid 1px; */
  width: 99.9%;
  height: 70px;
  background-color: #ffe0ec;
  color: #5c1a3b;
  padding: 14px;
}

#navContent{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
}

nav li{
  margin-left: 10px;
  height: 30px;
  display: flex;
  /* border:solid 1px; */
}

nav ul{
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

a{
  display: flex;
  text-decoration: none;
  font-size: 19px;
  color: #882657;
}

div{
  display: flex;
  flex-direction: row;
}

 
aside{
  height: 92vh;
  width: 200px;
  box-shadow: inset 14px 15px 29px -26px rgb(189, 227, 243);
}


#bttn1 a{
  color: rgb(252, 252, 252);
  text-decoration: none;
}

section{
  width: 89.5%;
  height: 609px;
  overflow: scroll;
  box-shadow: inset 14px 15px 29px -26px rgba(175,221,240,1);
}

section h1 {
  margin-top: 50px;
  margin-left: 50px;
}

.fullHeight {
  height: 92vh;
}

#personajes{
  display: flex;
  /* justify-content: space-around; */
  flex-flow: row wrap;
}

  #newPj a{
    color: white;
    text-decoration: none;
  }

  #newPj{
    margin-top: 50px;
    margin-left: 50px;
  }

  .btn a{
    color: black;
    text-decoration: none;
    font-size: 20px;
  }


.box{
  width: 100%;
  height: 40px;
  background-color: #ffdcfa;
  border-bottom: solid 1px #e49cc0;
}

.box h5{
  color: #5c1a3b;
  margin-top: 5px;
  margin-left: 10px;
}

