.categories-container {
  display: "flex";
  gap: "20px";
  flex-wrap: "wrap";
  padding: "10px 0";

}

.category-card {
  border-radius: 16px;
  overflow: hidden;
  background-color: #242424;
  /* background-color: #3b3838ff; */
  /* background-color: #f0f0f0ff */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  font-family: sans-serif;
}

.category-image-wrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-info {
  padding: 16px;
  color: #beb5b5;
}

.category-info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.category-info span {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #999;
}

@media (max-width: 700px) and (min-width: 0px) {

  .categories-container {
    display: "flex";
    justify-content: center;
  }


}