<div class="container-fluid">
    <a class="navbar-brand">
        <button id="Verfiltro" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtroOffcanvas" aria-controls="filtroOffcanvas">
            <i class="fa-solid fa-filter"></i>
        </button>
    </a>
    
    <form class="d-flex input-group w-auto">
        <%= text_field_tag :name, params[:name], placeholder: "Search", class: "form-control rounded" %>
        <%= button_tag type: "submit", class: "input-group-text border-0" do %>
            <i class="fas fa-search"></i>
        <% end %>
    </form>
</div>