<div>
    <% content_for :title, "Productos"%>

    <h1> Productos </h1>

    <div id="order">
        <% @products.each do |product| %>
            <%= render product %>
        <% end %> 
    </div>
</div>
